<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		<title>NCSOFT Front-end Engineer Homework Assignment</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="MyController">

		<div class="coinCounter">
			<p class="title">COIN COUNTER</p>
			<!-- The displayed currency values -->
			<div class="coins">
				<div id="coin" ng-repeat="(key, value) in coins" ng-click="changeValue(key)"> 
					<p>{{value.value}}</p>
						<div id="count" ng-hide="value.count===0">
							<p>{{value.count}}</p>
						</div>
				</div>
			</div>

			<!-- The form input -->
			<div class="formDiv">
				<form ng-submit="calculate()">
					<input id="input" type="number" ng-model="totalValue" required>
					<button id="button">CALCULATE</button>
				</form>
			</div>
		</div>

	</body>
</html>