<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>NCSOFT Front-end Engineer Homework Assignment</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="MyController">
<h2>COIN COUNTER</h2>
<div>
	<!-- The displayed currency values -->
	<div>
		<div ng-click="test()">{{coinA}}</div>
		<div ng-click="test()">{{coinB}}</div>
		<div ng-click="test()">{{coinC}}</div>
		<div ng-click="test()">{{coinPenny}}</div>
	</div>

	<!-- The form input -->
	<div>
		<form>
			<input type="" name="">
			<button>Calculate</button>
		</form>
	</div>
</div>


	
</body>
</html>